<%
/** @typedef {String} qqq */
/** @this {Jii.view.WebView} */
(function() {

this.registerCssFile('http://api.jquery.com/jquery-wp-content/themes/jquery/css/base.css');
this.registerJsFile('http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js');
this.registerCss('body {background: #eee;}');
this.registerJs('console.log(555)');
this.registerJs('console.log(6626)', 'head');
this.registerJs('console.log(13411)', 'begin');
this.registerLinkTag({
    rel: 'icon',
    type: 'image/x-icon',
    href: 'https://assets-cdn.github.com/favicon.ico'
});
this.registerMetaTag({
    authenticity_token: 'csrf-param'
});
%>

<div>
    <%= qqq %>
</div>

<% })(); %>