<a href="/">Index</a> | <a href="/users">Users</a>
<hr />

<h1>Add user:</h1>
<form method="post">
    <div>
        <input type="email" name="email" value="<%- userModel.get('email') %>" placeholder="Email" />
        <%= userModel.hasErrors('email') ? 'Error: ' + userModel.getErrors('email') : '' %>
    </div>
    <div>
        <input type="text" name="name" value="<%- userModel.get('name') %>" placeholder="Name" />
        <%= userModel.hasErrors('name') ? 'Error: ' + userModel.getErrors('name') : '' %>
    </div>
    <input type="submit" value="Add" />
</form>

<h1>Users:</h1>
<form method="get">
    Search: <input type="text" name="search" value="<%- search %>" placeholder="Search query" />
    <input type="submit" value="Go" />
</form>
<ul>
    <% if (users.length > 0) { %>
        <% users.forEach(function(model) { %>
            <li>
                [<%- model.get('creationTime') %>]
                <a href="mailto:<%- model.get('email') %>"><%= model.get('name') || model.get('email') %></a>
            </li>
        <% }); %>
    <% } else { %>
        No result..
    <% } %>
</ul>